.dashboard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_header h1 {
  margin: 0;
}

.dashboard_header a {
  text-decoration: none;
  background-color: #25b456;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  border: 1px solid #25b456;
  height: 50%;
}

.dashboard_header a:hover {
  background-color: #258a48;
  color: #fff;
}

.employees_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.emp_card {
  border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.emp_card_adm {
  /* border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;

  align-items: center;
  width: 100%; */
  background-color: #daa520;
  border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.emp_card h3 {
  margin: 1em;
}

.actions a {
  margin: 0.5em;
  font-size: 3em;
  font-weight: bold;
}

.btn_edit {
  text-decoration: none;
  background-color: #ffff00;
  text-align: center;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  border: 1px solid #ffff00;
  height: 3em;
}

.btn_delete {
  text-decoration: none;
  background-color: #ca2121;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  border: 1px solid #ca2121;
  height: 3em;
}
.btn_details {
  text-decoration: none;
  background-color: #16479d;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  border: 1px solid #16479d;
  height: 3em;
}
