.dashboard_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard_header h1 {
  margin: 0;
}

.dashboard_header a {
  text-decoration: none;
  background-color: #25b456;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  border: 1px solid #25b456;
  height: 50%;
}

.dashboard_header a:hover {
  background-color: #258a48;
  color: #fff;
}

.employees_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.emp_card {
  /* border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;

  align-items: center;
  width: 100%; */
  border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
